{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "parser": "typescript",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",  "^react-", "^react", "^next", 
    "^@apis/(.*)$", "^@contexts/(.*)$", "^@hooks/(.*)$", "^@components/(.*)$", "^@pages/(.*)$", 
    "^@constants/(.*)$",  "^@utils/(.*)$", "^types/(.*)$", 
    "^@theme/(.*)$", "^@styles/(.*)$", "^[./].*(?<!\\.(c|le|sc)ss)$", "\\.(c|le|sc)ss$",
    "^[./]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx"],
  "importOrderSeparation": false, 
  "importOrderSortSpecifiers": true
}
